<div class="container" *ngIf="topic !== undefined">
  <h1>{{topic.name}}</h1>
  <p>{{topic.description}}</p>
  <div>
    <h3>Topic Courses:</h3>
    <div>
      <span *ngIf="topic.course === undefined || topic.courses.length <= 0; else elseBlock" >No Courses</span>
      <ng-template #elseBlock>
        <ul>
          <li *ngFor="let course of topic.courses;  trackBy: trackByCourse">
            <app-courses [course]="course"></app-courses>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-secondary" (click)="goBack()">Back</button>
    <button class="btn btn-secondary" (click)="deleteTopic()">Delete</button>
    <button class="btn btn-secondary" (click)="toggleNewCourseForm()">Add Course</button>
  </div>
  <app-course-form (newCourseCreated)="addCourse($event)" [topicId]="topic.id" [hidden]="hideForm"></app-course-form>
</div>
